<div id="demo02">
  <div>
    <button ng-click="addTable()">添加表格</button>
  </div>

  <form name="demo02" class="pull-left" novalidate="novalidate">

    <table ng-repeat="table in tables" ng-form="tableForm">
      <thead>
      <tr>
        <th>站名</th>
        <th>地址</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-form="ngForm" ng-repeat="data in table.datas">
        <td>
          <input name="name" type="text" ng-model="data.name" required>
          <div ng-if="ngForm.name.$dirty && ngForm.name.$error.required">
            error
          </div>
        </td>
        <td>
          <input name="address" type="url" ng-model="data.address" required>
          <div ng-if="ngForm.address.$dirty && ngForm.address.$error.required">
            error required
          </div>
          <div ng-if="ngForm.address.$error.url">
            error url
          </div>
        </td>
        <td>
          <button ng-click="delete($index)">删除</button>
          <button ng-click="add(table.datas)">添加</button>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
  <pre class="pull-right">{{demo02 | json}}</pre>

</div>
