<div id='demo01'>
  <p>Input something in the input box:</p>
  <p>Name : <input type="text" ng-model="str01" placeholder="Enter name here"/></p>
  <p>Hello {{str01}}</p>
  <hr />

  <p>select</p>
  <select ng-model="selectedColor">
    <option value="" selected disabled>--请选择--</option>
    <option value="{{c.name}}" ng-repeat="c in colors">{{c.name}}</option>
  </select>
  {{selectedColor}}

  <p></p>

  <select ng-model="selectedColor2" ng-init="selectedColor2 = colors[0].name">
    <option value="{{c.name}}" ng-repeat="c in colors">{{c.name}}</option>
  </select>
  {{selectedColor2}}

  <p></p>

  <select ng-model="selectedColor3">
    <option value="{{c.name}}" ng-repeat="c in colors">{{c.name}}</option>
  </select>
  {{selectedColor3}}

  <p></p>

  <input type="radio" name="name" ng-model="sel" value="male"/>male
  <input type="radio" name="name" ng-model="sel" value="female"/>female
  <p>{{sel}}</p>
  click me to select checkbox:  <input type="checkbox" ng-model="sel"/>
  <select>
    <option>Hello</option>
    <option>World</option>
    <option ng-selected="sel">greeting</option>
  </select>

  <br>

  <select ng-model="myColor" ng-options="color.name for color in colors"></select>

  <select ng-model="myColor" ng-options="color.shade as color.name for color in colors"></select>

  <select ng-model="myColor" ng-options="color.name group by color.shade for color in colors"></select>

  <select ng-model="myColor" ng-options="color.name as color.name group by color.shade for color in colors"></select>

  <select ng-model="myColor" ng-options="color.name for color in colors track by color.name"></select>

  <pre>{{myColor | json}}</pre>

  <select ng-model="obj" ng-options="key for (key, value) in object"></select>

  <select ng-model="obj" ng-options="key as key for (key, value) in object"></select>

  <select ng-model="obj" ng-options="key group by value for (key, value) in object"></select>

  <select ng-model="obj" ng-options="key as key group by value for (key, value) in object"></select>

  <pre>{{obj | json}}</pre>

  <pre>
    ngOptions针对不同类型的数据源有不同的用法，主要体现在数组和对象上。

    数组：

    label for value in array
    select as label for value in array
    label group by group for value in array
    select as label group by group for value in array
    select as label group by group for value in array track by trackexpr

    对象：

    label for ( key , value ) in object
    select as label for ( key , value ) in object
    label group by group for ( key , value ) in object
    select as label group by group for ( key , value ) in object

    说明：

    array / object： 数据源的类型，有数组和对象两种
    value：迭代过程中，引用数组的项或者对象的属性值
    key：迭代过程中，引用对象的属性名
    label：选项显示的标签，用户可看到的
    select：结果绑定到ngModel中，如果没有指定，则默认绑定value
    group：group by的条件，表示按某条件进行分组
    trackexpr：用于唯一确定数组中的迭代项的表达式
  </pre>

  <hr>
  
  <p>radio</p>
  <label for="radio1"><input type="radio" name="name" id="radio1">张三</label>
  <label for="radio2"><input type="radio" name="name" id="radio2">李四</label>

  <hr>

  <p>checkbox</p>

  <label for="checkbox1"><input type="checkbox" id="checkbox1">苹果</label>
  <label for="checkbox2"><input type="checkbox" id="checkbox2">西瓜</label>
  <label for="checkbox3"><input type="checkbox" id="checkbox3">桃子</label>

  <div class="switch-box">
    <input type="checkbox" id="checkbox4">
    <label for="checkbox4">
      <span class="box">
        <span>ON</span>
        <label for="checkbox4"></label>
        <span>OFF</span>
      </span>
    </label>
  </div>

</div>
