<div id='demo01'>
  <p>Input something in the input box:</p>
  <p>Name : <input type="text" ng-model="str01" placeholder="Enter name here"/></p>
  <p>Hello {{str01}}</p>
  <hr />

  <p>select</p>
  <select ng-model="selectedColor">
    <option value="" selected disabled>--请选择--</option>
    <option value="{{c.name}}" ng-repeat="c in colors">{{c.name}}</option>
  </select>
  {{selectedColor}}

  <p></p>

  <select ng-model="selectedColor2" ng-init="selectedColor2 = colors[0].name">
    <option value="{{c.name}}" ng-repeat="c in colors">{{c.name}}</option>
  </select>
  {{selectedColor2}}

  <p></p>

  <select ng-model="selectedColor3">
    <option value="{{c.name}}" ng-repeat="c in colors">{{c.name}}</option>
  </select>
  {{selectedColor3}}

  <p></p>

  <input type="radio" name="name" ng-model="sel" value="male"/>male
  <input type="radio" name="name" ng-model="sel" value="female"/>female
  <p>{{sel}}</p>

  click me to select checkbox:  <input type="checkbox" ng-model="sel" ng-click="con()"/>
  <select>
    <option>Hello</option>
    <option>World</option>
    <option ng-selected="sel">greeting</option>
  </select>

  <hr>

  <p>ngRepeat vs ngOptions</p>

  ngRepeat
  <select ng-model="repeatName">
    <option value="" selected disabled>--请选择--</option>
    <option value="{{o.name}}" ng-repeat="o in options">{{o.name}}</option>
  </select>

  <br>

  ngOptions
  <select ng-model="optionName" ng-options="o.name for o in options">
    <option value="" selected disabled>--请选择--</option>
  </select>

  {{time}} 秒后更新 options

  <p>结论：1.6.4</p>
  <p>options 对象整体更新，已选值存在，ngRepeat 不更新，ngOptions 更新</p>
  <p>options 对象整体更新，已选值不存在，ngRepeat 更新，ngOptions 更新</p>
  <p>options 对象渐进式更新，已选值存在，ngRepeat 不更新，ngOptions 不更新</p>
  <p>options 对象渐进式更新，已选值不存在，ngRepeat 更新，ngOptions 更新</p>

  <pre>{{options | json}}</pre>

  <hr>

  <p>ng-options 用法：</p>

  <select ng-model="myColor" ng-options="('示例:'+ color.name) for color in colors"></select>

  <select ng-model="myColor" ng-options="color.shade as color.name for color in colors"></select>

  <select ng-model="myColor" ng-options="color.name group by color.shade for color in colors"></select>

  <select ng-model="myColor" ng-options="color.name as color.name group by color.shade for color in colors"></select>

  <select ng-model="myColor" ng-options="color.name for color in colors track by color.name"></select>

  <pre>{{myColor | json}}</pre>

  <select ng-model="obj" ng-options="key for (key, value) in object"></select>

  <select ng-model="obj" ng-options="key as key for (key, value) in object"></select>

  <select ng-model="obj" ng-options="key group by value for (key, value) in object"></select>

  <select ng-model="obj" ng-options="key as key group by value for (key, value) in object"></select>

  <pre>{{obj | json}}</pre>

  <pre>
    ngOptions针对不同类型的数据源有不同的用法，主要体现在数组和对象上。

    数组：

    label for value in array
    select as label for value in array
    label group by group for value in array
    select as label group by group for value in array
    select as label group by group for value in array track by trackexpr

    对象：

    label for ( key , value ) in object
    select as label for ( key , value ) in object
    label group by group for ( key , value ) in object
    select as label group by group for ( key , value ) in object

    说明：

    array / object： 数据源的类型，有数组和对象两种
    value：迭代过程中，引用数组的项或者对象的属性值
    key：迭代过程中，引用对象的属性名
    label：选项显示的标签，用户可看到的
    select：结果绑定到ngModel中，如果没有指定，则默认绑定value
    group：group by的条件，表示按某条件进行分组
    trackexpr：用于唯一确定数组中的迭代项的表达式
  </pre>

  <hr>

  <table class="table table-normal">
    <thead>
    <tr>
      <th>访问规则</th>
      <th width="60%">允许值</th>
      <th width="15%" class="text-center">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-form="policyForm" ng-repeat="policy in policyList">
      <td class="p-5">
        <select class="form-control" ng-model="policy.rule" ng-change="selectPolicyRule(policy)">
          <option value="" disabled>请选择</option>
          <option value="ACCESS_IP_RANGE">允许范围IP访问</option>
          <option value="APPLICATION">允许应用访问</option>
          <option value="ACCESS_PORT">允许被访问端口</option>
        </select>
      </td>
      <td class="p-5">
        <div ng-if="!policy.rule">
          <input type="text" class="form-control" disabled placeholder="请先选择访问规则类型">
        </div>

        <div ng-if="policy.rule === 'ACCESS_IP_RANGE'">
          <input type="text" name="ruleValue" class="form-control" ng-model="policy.ruleValue" ui-validate="{name: 'validateCIDR($value)'}" placeholder="请输入正确的CIDR地址">
        </div>

        <div ng-if="policy.rule === 'APPLICATION'">
          <select name="ruleValue" class="form-control" ng-model="policy.ruleValue" ng-options="app.id as app.name for app in appList">
            <option value="" disabled>请选择应用</option>
          </select>
        </div>

        <div ng-if="policy.rule === 'ACCESS_PORT'">
          <input type="text" name="ruleValue" class="form-control" ng-model="policy.ruleValue" ui-validate="{name: 'validatePort($value)'}" placeholder="请输入正确的端口">
        </div>
      </td>
      <td class="text-center">
        x
      </td>
    </tr>
    </tbody>
  </table>

  <hr>
  
  <p>radio</p>
  <label for="radio1"><input type="radio" name="name" id="radio1">张三</label>
  <label for="radio2"><input type="radio" name="name" id="radio2">李四</label>

  <hr>

  <p>checkbox</p>

  <label for="checkbox1"><input type="checkbox" id="checkbox1">苹果</label>
  <label for="checkbox2"><input type="checkbox" id="checkbox2">西瓜</label>
  <label for="checkbox3"><input type="checkbox" id="checkbox3">桃子</label>

  <div class="switch-box">
    <input type="checkbox" id="checkbox4">
    <label for="checkbox4">
      <span class="box">
        <span>ON</span>
        <label for="checkbox4"></label>
        <span>OFF</span>
      </span>
    </label>
  </div>

  <hr>

  <p>全选</p>

  <table class="table">
    <thead>
    <tr>
      <th>
        全选
        <input type="checkbox" ng-model="isSelectedAll" ng-click="selectAll()">
      </th>
      <th>姓名</th>
      <th>年龄</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in arr">
      <td>
        <input type="checkbox" ng-model="item.isSelected" ng-click="item.isSelected" ng-change="selectItem()">
      </td>
      <td>{{item.name}}</td>
      <td>{{item.age}}</td>
    </tr>
    </tbody>
  </table>

</div>
