<div id='demo01'>
  <p>Input something in the input box:</p>
  <p>Name : <input type="text" ng-model="str01" placeholder="Enter name here"/></p>
  <p>Hello {{str01}}</p>
  <hr />

  <p>select</p>
  <select ng-model="selectedColor">
    <option value="" selected disabled>--请选择--</option>
    <option value="{{c.name}}" ng-repeat="c in colors">{{c.name}}</option>
  </select>
  {{selectedColor}}

  <p></p>

  <select ng-model="selectedColor2" ng-init="selectedColor2 = colors[0].name">
    <option value="{{c.name}}" ng-repeat="c in colors">{{c.name}}</option>
  </select>
  {{selectedColor2}}

  <p></p>

  <select ng-model="selectedColor3">
    <option value="{{c.name}}" ng-repeat="c in colors">{{c.name}}</option>
  </select>
  {{selectedColor3}}

  <p></p>

  <input type="radio" name="name" ng-model="sel" value="male"/>male
  <input type="radio" name="name" ng-model="sel" value="female"/>female
  <p>{{sel}}</p>
  click me to select checkbox:  <input type="checkbox" ng-model="sel"/>
  <select>
    <option>Hello</option>
    <option>World</option>
    <option ng-selected="sel">greeting</option>
  </select>

  <hr>
  
  <p>radio</p>
  <label for="radio1"><input type="radio" name="name" id="radio1">张三</label>
  <label for="radio2"><input type="radio" name="name" id="radio2">李四</label>

  <hr>

  <p>checkbox</p>

  <label for="checkbox1"><input type="checkbox" id="checkbox1">苹果</label>
  <label for="checkbox2"><input type="checkbox" id="checkbox2">西瓜</label>
  <label for="checkbox3"><input type="checkbox" id="checkbox3">桃子</label>

  <div class="switch-box">
    <input type="checkbox" id="checkbox4">
    <label for="checkbox4">
      <span>ON</span>
      <span>OFF</span>
    </label>
  </div>

</div>
