<div id="demo19-nav">
  <ul>
    <li><a ui-sref="home.demo19.public.application">公有空间</a></li>
    <li><a ui-sref="home.demo19.private.application">私有空间</a></li>
    <li><a ui-sref="home.demo19.collection.application">我的收藏</a></li>
  </ul>

  <kubernetes-container-terminal pod="selfLink" container="containerName" prevent="preventSocket" rows="rows" cols="cols"  screen-keys="true" autofocus="true"></kubernetes-container-terminal>

  <div>
    <label>
      <span>Endpoint</span>
      <input type="text" class="form-control" ng-model="baseUrl"/>
    </label>
    <label>
      <span>Pod link</span>
      <input type="text" class="form-control" ng-model="selfLink"/>
    </label>
    <label>
      <span>Container</span>
      <input type="text" class="form-control" ng-model="containerName"/>
    </label>
    <label>
      <span>Access Token</span>
      <input type="text" class="form-control" ng-model="accessToken"/>
    </label>
    <label>
      <span>Rows</span>
      <input type="text" class="form-control" ng-model="rows"/>
    </label>
    <label>
      <span>Cols</span>
      <input type="text" class="form-control" ng-model="cols"/>
    </label>
  </div>

  <div ui-view></div>
</div>