<div id="demo15">
  <style type="text/css">
    .droptarget {
      float: left;
      width: 100px;
      height: 100px;
      padding: 10px;
      border: 1px solid #aaaaaa;
    }
    #dragtarget {
      border: 1px solid #ccc;
      cursor: move;
      margin-left: 10px;
    }
  </style>
  <script type="text/ng-template" id="sim-drag-item.html">
    <span draggable="true" id="dragtarget">
      拖动!
    </span>
  </script>
  <script type="text/ng-template" id="sim-target-item.html">
    <div class="droptarget"></div>
  </script>

  <div class="clearfix">
    <div sim-target-item></div>
    <div sim-drag-item></div>
    <div id="demo"></div>
  </div>
  <hr>

  <style type="text/css">
    .destination-area {
      width: 200px;
      height: 200px;
      border: 1px dashed #ccc;
      line-height: 200px;
      text-align: center;
      font-size: 40px;
      color: #ccc;
      position: relative;
    }
    .drag-item {
      width: 200px;
      border: 1px solid #ccc;
      text-align: center;
      color: #ccc;
      cursor: move;
      position: relative;
    }
    .des-area-item {
      height: 40px;
      width: 40px;
      border: 1px dashed #ccc;
      line-height: 40px;
      text-align: center;
      font-size: 14px;
    }
    .des-area-indent {
      height: 40px;
      width: 40px;
      border: 1px dashed #ccc;
      line-height: 40px;
      margin-left: 40px;
      text-align: center;
      font-size: 14px;
    }
    .input-item {
      height: 26px;
      line-height: 26px;
      font-size: 14px;
      color: #333;
    }
  </style>

  <div class="row">
    <div class="col-sm-8">
      <div target-item></div>
    </div>
    <div class="col-sm-4">
      <div drag-item-15></div>
    </div>
  </div>

</div>