<div id="demo14">
  <style type="text/css">
    .item {
      position: relative;
      margin: 5px;
      border: 1px solid #ccc;
    }

    .ace_editor {
      height: 200px;
    }
  </style>
  <div class="row">
    <div class="col-sm-8">
      <textarea class="form-control" style="height:100px;" id="mytextarea" ng-model="text"></textarea>
    </div>
    <div class="col-sm-4">
      <h5>textarea - 点击</h5>
      <div class="item" ng-repeat="d in datas" ng-click="test(d.data)">{{d.name}} : {{d.data}}</div>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-8">
      <textarea class="form-control" style="height:100px;" ng-model="text"></textarea>
    </div>
    <div class="col-sm-4">
      <h5>textarea - 拖拽</h5>
      <div class="item" onclick="startDrag(this, this)" style="cursor: move;">代码块</div>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-8">
      <ui-codemirror ui-codemirror-opts='cmOptionDrag'></ui-codemirror>
    </div>
    <div class="col-sm-4">
      <h5>CodeMirror - 拖拽</h5>
      <div class="item" onclick="startDrag(this, this)" style="cursor: move;">代码块</div>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-8">
      <ui-codemirror ui-codemirror-opts="cmOptionClick"></ui-codemirror>
    </div>
    <div class="col-sm-4">
      <h5>CodeMirror - 点击</h5>
      <div class="item" ng-repeat="d in datas" ng-click="insert(d.data)" style="cursor:pointer;">{{d.name}} : {{d.data}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div ui-ace="{
        require: ['ace/ext/language_tools'],
        advanced: {
          enableSnippets: true,
          enableBasicAutocompletion: true,
          enableLiveAutocompletion: true
        },
        useWrapMode : true,
        showGutter: true,
        mode: 'xml',
        onLoad: aceLoaded,
        onChange: aceChanged
      }"></div>
    </div>
    <div class="col-sm-4">
      <h5>CodeMirror - 点击</h5>
      <div class="item" ng-repeat="d in datas" ng-click="insert(d.data)" style="cursor:pointer;">{{d.name}} : {{d.data}}</div>
    </div>
  </div>
</div>