<!DOCTYPE html>
<html>
<head>
    <title>AngularJS Demo</title>
    <meta charset="utf-8">

    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="
    ../public/javascripts/app.js"></script>
</head>
<body ng-app="myApp">
    <h6>AngularJS Home Page</h6>
    <div ui-view='container'></div>
</body>
</html>