<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <script type="text/javascript" src="../../bower_components/angular/angular.js"></script>
</head>
<body ng-app="myApp">
    <div ng-controller="myCtrl">
        <button ng-click="addData()">add</button>
        <div dir-test='arr'></div>    
    </div>
</body>
<body>
    
</body>
<script type="text/javascript">
    angular.module('myApp', [])
    .controller('myCtrl', ['$scope', function($scope) {
        $scope.arr = []
        $scope.addData = function() {
            $scope.arr.push('xxxxx');
        }
    }])
    .directive('dirTest', function() {
        return {
            restrict: 'EA',
            template: '<div class="test">Directive example</div>',
            link: function(scope, element, attrs) {
                scope.$watch(attrs.dirTest, function(newValue) {
                    return newValue;
                })
            }
        }
    })
                    
</script>
</html>
