<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <script type="text/javascript" src="../../bower_components/angular/angular.js"></script>
</head>
<body ng-app="myApp">
  <div ng-controller="myCtrl">
  datas 的数据结构为 {{datas}}，angularJS 会报错，ngRepeat不允许collection中存在两个相同Id的对象，angular需要一个唯一值可以与生成的dom绑定，以便追踪。
  <br>
  对于数字对象来说，它的id就是它自身的值，因此，数组中是不允许存在两个相同的数字的。为了规避这个错误，需要定义自己的track by表达式
  (ps: 相同的数字或者字符串都会产生这个错误，js的对象类型，就算内容一模一样，ngRepeat 也不会认为是相同的对象，所以不会报错)
    <table>
      <tr ng-repeat="row in datas">
        <td ng-repeat="col in row track by $index">{{ col }}</td>
      </tr>
    </table>
    <hr>

    遍历对象 key/value {{obj}}
    <div ng-repeat="(key, value) in obj">{{key}}:　{{value}}</div>
    <hr>

    ng-if 会创建一个新的 $scope 空间
    <table>
      <tr>
        <td colspan="3">使用ng-if</td>
      </tr>
      <tr ng-repeat="row in datas2">
        <td ng-repeat="col in row" ng-if="isShow">{{ col }}-({{$parent.$index}}, {{$index}})</td>
      </tr>
      <tr>
        <td colspan="3">使用ng-show</td>
      </tr>
      <tr ng-repeat="row in datas2">
        <td ng-repeat="col in row" ng-show="isShow">{{ col }}-({{$parent.$index}}, {{$index}})</td>
      </tr>
    </table>
    <hr>

    pagination
    total-items - 所有页中的项目总数
    <br>

    max-size - 最大显示页数
    <br>

    items-per-page - 每页最大显示条数的数量。值小于1表明所有项目在一个页上
    <br>

    boundary-links - 是否显示第一个/最后一个按钮
    <br>

    boundary-link-numbers $ C (Default: false) - 是否总是显示第一个和最后一个页码。如果最大页码大于设置的最小显示页数,则会在最大或最小页面和中间页面之间增加一个按钮，内容为省略号，如果最大页码小于设置的最小显示页数，则不显示省略号按钮
    <br>

    direction-links $ C (Default: true) - 是否显示之前/下一个按钮。
    <br>
    numPages - 总页数， {{vm.page.index}} / {{numPages}}


    <br>
    <div style="color:#fff; font-size:30px; font-weight:bold; text-shadow:3px 3px 3px #ccc;-webkit-text-shadow:3px 3px 3px #ccc; text-align:center; margin-top:30px;">FE-演示平台</div>  
    <section class="row">  
        <section class="col-md-6" style="margin:40px auto; float:none; background:#fff; padding:30px;">  
            <h4>默认：</h4>  
            <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" previous-text="上一页" next-text="下一页"></pagination> 

            <p>//total-items 总页数 previous-text 上一页文本,//boundary-links 是否显示首尾按钮    </p>
            <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

            <p>// direction-links 是否显示上下按钮</p>
            <pagination direction-links="true" boundary-links="true" total-items="totalItems" ng-model="currentPage"></pagination>

            <p>// num-pages 显示总数的可选表达式</p>
            <pagination direction-links="false" total-items="totalItems" ng-model="currentPage" num-pages="smallnumPages"></pagination> 

            <pre>当前页：{{currentPage}}</pre>
            
            <p>// max-size  显示最大页数</p>
            <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination> 
            <pre>当前：{{bigCurrentPage}}/{{numPages}}</pre>  
        </section>  
   
    </section>  
  </div>
</body>

<script type="text/javascript">
  angular.module('myApp', [])
  .controller('myCtrl', function($scope) {
    $scope.datas = [
      [1,1,1],
      [4,5,6],
      ['qqq','qqq','qqq'],
      [{'name':'xx','age':11},{'name':'xx','age':11},{'name':'xx','age':11}]
    ];

    $scope.obj = {'name':'xxx','age':12,'status':true};

    $scope.isShow = true;
    $scope.datas2 = [
      [1,2,3],
      [4,5,6]
    ];

    //pagination
    $scope.maxSize = 7;    // ...上面都讲了 ， 往上找  
    $scope.totalItems = 99;  
    $scope.currentPage = 1;  
    $scope.bigTotalItems = 180;  
    $scope.bigCurrentPage = 1;  

  });
</script>
</html>