<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <script type="text/javascript" src="../../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../../bower_components/echarts/build/dist/echarts.js"></script>
</head>
<!-- <body ng-app="myApp">
    <div ng-controller="myCtrl">
        
    </div>
</body> -->
    <div id="main" style="height:400px;"></div>
<body>
    
</body>
<script type="text/javascript">
    
                    
</script>
</html>