for (var i=0; i<len; i++) {
  html = '<ul>'
    += '<li>'+ data[i] +'</li>'
    += '</ul>';
}

$(document).html(html);

var object = {'name':'xxx',age:12};
$scope.obj.push(object);

<ul>
<li ng-repeat="o in obj">{{o.name}} - {{o.age}}</li>
</ul>

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="../../bower_components/angular/angular.js"></script>
</head>
<body>
    <div class="container" ng-app="" ng-controller>
        
    </div>
    <script>
        angular.module('')
    </script>
</body>
</html>